@use "../variables" as var;

.tech-stack {
  // background-color: var.$green;

  background: linear-gradient(var.$green-rgba, var.$green-rgba),
    url(var.$circle-bkg);
  background-size: cover;
  background-position: center;
  // background-repeat: no-repeat;

  border-bottom: 2px solid var.$blue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding: 5vh 5vw;
  min-height: 600px;

  // font-family: var.$architect;

  font-family: var.$cuprum;
  // letter-spacing: 4px;
}

.tech-stack-title {
  font-size: 3rem;
  margin-bottom: 5vh;
  text-shadow: var.$black-shadow;
  text-transform: uppercase;
}

.tech-stack-subtitle {
  display: none;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5vh 0;
}

.icon-title {
  opacity: 0.8;
  margin-bottom: 10px;

  font-family: var.$amantic;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-shadow: var.$black-shadow;
  letter-spacing: 4px;
}

.icon-img-container {
  width: 100px;
  height: 100px;
}

.icon-img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .icon-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .icon-container {
    width: 40vw;
  }
}

@media screen and (min-width: 850px) {
  .icon-wrapper {
    width: 100%;
    max-width: 1030px;
  }

  .icon-container {
    width: fit-content;
    flex-wrap: nowrap;
  }
}
// @media screen and (min-width: 900px) {
//   .icon-container {
//     margin: 5vh 20px;
//     flex-wrap: nowrap;
//   }
// }

// .tech-stack {
//   position: relative;
//   background-color: #734ae8;
//   background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);

//   border-bottom: 2px solid #0d6efd;
//   height: 600px;
//   padding: 85px 200px;
//   color: white;

//   // font-family: "Viga", sans-serif;
//   font-family: "Fira Mono", monospace;
//   // font-family: "Cuprum", sans-serif;
//   // font-family: "Architects Daughter", cursive;
//   // text-transform: uppercase;

//   display: grid;
//   grid-template-rows: [header-start] 1fr [description-start] 1fr [icon-start] 2fr [footer-start] 2fr;
//   grid-template-columns: [icon1] 1fr [icon2] 1fr [icon3] 1fr [icon4] 1fr;
//   grid-template-areas:
//     "header header header header"
//     "description description description description"
//     "icon1 icon2 icon3 icon4"
//     "footer footer footer footer";

//   align-items: center;
//   justify-content: center;
//   text-align: center;
// }

// .tech-stack-header {
//   grid-area: header;
//   opacity: 1;
// }
// .description {
//   // text-transform: uppercase;
//   opacity: 0.8;
//   grid-area: description;
//   margin-bottom: 60px;
// }
// .python {
//   grid-area: icon1;
// }
// .flask {
//   grid-area: icon2;
// }
// .react {
//   grid-area: icon3;
// }
// .javascript {
//   grid-area: icon4;
// }
