@use "../variables" as var;

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding: 85px 20px;
  border-bottom: 1px solid var.$blue;
  // background-color: black;
  background: linear-gradient(var.$black-rgba, var.$black-rgba), url(var.$geo-bkg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var.$cuprum;

  position: relative;
}

//
// HEADER FOR TIMELINE
//

.timeline-header {
  padding-bottom: 40px;
  color: white;
  font-family: var.$fira;
}

.timeline-title {
  font-size: 3rem;
}

.timeline-subtitle {
  display: none;
}

//
// TIMELINE CONTAINER
//

.timeline-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.timeline-items-wrapper::before {
  left: calc(50% - 1px);
  content: "";
  position: absolute;
  top: 325px;
  bottom: 100px;
  width: 2px;
  background-color: var.$blue;
}

//
// TIMELINE ITEMS CONTAINER
//

.timeline-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin: 10px;
  padding: 5px 10px;
  height: 200px;
  max-width: 400px;

  border-radius: 10%;
}

// IMAGE
//
.timeline-image-container {
  height: 120px;
  margin-left: 15px;
}

.timeline-item-wrapper:nth-child(even) {
  flex-direction: row-reverse;

  .timeline-image-container {
    margin-right: 15px;
  }
}

.timeline-image {
  height: 100%;
  width: 120px;
  border-radius: 15%;

  object-fit: cover;
  object-position: center center;
}

//
// TIMELINE ITEM TEXT
//

.tile {
  width: 55vw;
}

.tile-body {
  padding: 0 15px;
}

//
// BACKGROUND COLOR
//

.timeline-item-wrapper:nth-child(1) {
  background-color: rgb(36, 165, 220);
}
.timeline-item-wrapper:nth-child(2) {
  background-color: rgb(223, 128, 46);
}
.timeline-item-wrapper:nth-child(3) {
  background-color: rgb(37, 209, 60);
}
.timeline-item-wrapper:nth-child(4) {
  background-color: rgb(240, 68, 25);
}
.timeline-item-wrapper:nth-child(6) {
  background-color: rgb(166, 36, 231);
}
.timeline-item-wrapper:nth-child(5) {
  background-color: rgb(214, 208, 25);
}
.timeline-item-wrapper:nth-child(7) {
  background-color: var.$blue;
}

.final-image-wrapper {
  margin: 40px;
  display: none;
}

.tile-grow {
  transition: all 0.4s ease-in-out;
}

.tile-grow:hover {
  transform: scale(1.2);
}

// LARGE SCREEN
// BREAKPOINT 700px
//

@media screen and (min-width: 700px) {
  // ODD
  .timeline-item-wrapper:nth-child(odd) {
    margin-right: 35%;

    .timeline-image-container {
      height: 120px;
      transform: translateX(400%);
    }

    .timeline-image {
      border-radius: 50%;
      min-width: 120px;
      height: 100%;

      object-fit: cover;
      object-position: center center;
    }

    .tile {
      margin-right: 5vw;
    }
    .tile-body {
      width: 300px;
      padding-right: 40px;
      align-self: center;
      transform: translateX(-10%);
    }

    .tile-title {
      font-size: 2.5rem;
    }
  }

  // EVEN
  .timeline-item-wrapper:nth-child(even) {
    margin-left: 25%;

    .timeline-image-container {
      height: 120px;
      transform: translateX(-400%);
    }

    .timeline-image {
      border-radius: 50%;
      min-width: 120px;
      height: 100%;

      object-fit: cover;
      object-position: center center;
    }

    .tile-body {
      width: 300px;
      //   margin-left: 16.5%;
      align-self: center;
      padding-left: 20%;
      transform: translateX(15%);
    }

    .tile-title {
      font-size: 2.5rem;
    }
  }

  //
  // BREAKPOINT 900px
  //

  @media screen and (min-width: 900px) {
    .timeline-item-wrapper {
      margin-bottom: 5vh;
    }

    .timeline-items-wrapper::before {
      bottom: 150px;
    }
  }

  //
  // BREAKPOINT 1050px
  //
  @media screen and (min-width: 1050px) {
    .timeline-items-wrapper {
      max-width: 1050px;
    }

    .timeline-item-wrapper:nth-child(odd) {
      margin-left: -24%;

      .timeline-image-container {
        height: 120px;
        transform: translateX(405%);
      }
    }
    .timeline-item-wrapper:nth-child(even) {
      // margin-right: -38%;
      margin-left: 60%;

      .timeline-image-container {
        transform: translateX(-385%);
      }
    }

    .timeline-items-wrapper::before {
      bottom: 200px;
    }

    .timeline-item-wrapper.tile-title {
      font-size: 3rem;
    }

    .tile-detail {
      font-size: 1.25rem;
    }

    .final-image-wrapper {
      display: block;
      z-index: 4;

      .image-container {
        border-radius: 50%;
      }

      .timeline-image {
        border-radius: 50%;
        height: 120px;
      }
    }
  }

  // .memory-image {
  //   width: 120px;
  //   height: 120px;
  //   margin-top: 40px;
  // }

  // .timeline-image-container {
  //   width: 100%;
  //   height: 100%;
  // }

  // .timeline-image {
  //   position: absolute;
  //   top: 0px;
  //   left: 0px;

  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  //   object-position: center center;
  // }
}

// .timeline-item::before {
//   left: calc(50% - 10px);
//   content: "";
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   width: 2px;
//   background-color: #0d6efd;
//   margin-top: 150px;
// }

// .timeline-items {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
// }

// .timeline-item {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   align-self: center;
//   width: 300px;
//   height: 200px;
//   border-radius: 20%;
//   margin-bottom: 20px;
// }

// .memory-image:nth-child(even) {
//   transform: translateX(20%);
// }

// .image-container {
//   width: 100%;
//   height: 100%;
// }

// .image-style {
//   position: absolute;
//   top: 0px;
//   left: 0px;

//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   object-position: center center;
//   opacity: 1;
//   border-radius: 50%;
//   z-index: 1;
// }
