.blog-page-wrapper {
  display: flex;
  justify-content: center;

  color: #00c853;
  min-height: 100vh;
  background:
      // #0d6efd,
    linear-gradient(rgba(0, 0, 0, 0.98), rgba(0, 0, 0, 0.98)),
    url("./../images/geometric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.blog-main-title-wrapper {
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  color: #0d6efd;
  text-align: center;

  text-transform: uppercase;
}

.blog-main-page {
  display: flex;
  flex-direction: column;
  max-width: 1260px;
  padding: 85px 40px;
}

.blog-articles-info-wrapper {
  display: flex;
  flex-direction: column;
}

.blog-article-box-wrapper {
  display: flex;
  margin-bottom: 30px;
  padding: 20px 15px;
  font-family: "Cuprum", sans-serif;
  border-bottom: 1px solid #0d6efd;
}

.blog-article-box-wrapper:hover {
  box-shadow: 0 0 11px #ffad05;
}

.blog-article-image-wrapper {
  width: 250px;
  height: 200px;
  margin-right: 30px;
}

.blog-article-image {
  width: 100%;
  height: 100%;
}

.blog-article-title {
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.blog-article-description {
  font-size: 1.15rem;
}

.blog-info-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1;
}

.blog-articles-wrapper {
  display: flex;
}

.side-panel {
  margin-left: 40px;

  width: 200px;
  height: calc(100% - 30px);
  background:
      // #0d6efd,
    linear-gradient(rgba(13, 110, 253, 0.9), rgba(13, 110, 253, 0.9)),
    url("./../images/geometric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
