.landing-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100vh;
  justify-content: center;
  background: 
  // #0d6efd,
    linear-gradient(rgba(13, 110, 253, 0.9), rgba(13, 110, 253, 0.9)),
    url("./../images/geometric.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing-wrapper .title,
.title-description {
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  font-size: 48px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: -0.01em 0.01em 0.1em black;
}

.landing-wrapper .title-description {
  color: #eee;
  font-size: 16px;
  text-transform: lowercase;
}
