#navbar-container {
  background-color: #0d6efd;
  letter-spacing: 3px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-link {
  color: #fff !important;
}

// .nav-link.active {
//   color: #00c853 !important;
// }

.navbar-brand {
  margin-right: auto !important;
}

.navbar-toggler {
  // color: #00c853 !important;
  background-color: #00c853 !important;
}

// .navbar-collapse.show {
//   background-color: #0d6efd;
// }
